<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ToDoEntities" connectionString="metadata=res://*/To-Do.csdl|res://*/To-Do.ssdl|res://*/To-Do.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3205EC09;initial catalog=ToDo;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ToDoEntities1" connectionString="metadata=res://*/To-do.csdl|res://*/To-do.ssdl|res://*/To-do.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3205EC09;initial catalog=ToDo;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>